
img{
  float:left;
  height:200px;
  object-fit: cover;
}

button{
  color:blue;
  margin-top: -5px;
  background-color: white;
  border:pink;
}

.special-img3 {
    width: 135px;
    height: auto;
    position: absolute;
    top: 15px;
    left: 5px;
}

.special-img4 {
    width: 235px;
    height: auto;
    position: absolute;
    top: 235px;
    left: 5px;
}

.email {
  font-family: Arial;
    position: absolute;
    top: 247px;
    left: 15px;
    font-size: 67px;
    font-family: "times new roman";
    -webkit-text-stroke: 1px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
}

.intro {
  font-family: Arial;
    position: absolute;
    top: 100px;
    left: 15px;
    font-size: 40px;
    font-family: "times new roman";
    -webkit-text-stroke: 1px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
}


.text {
  font-family: Arial;
  position: absolute;
    top: 209px;
    left: 15px;
    font-size: 37px;
    font-family: "apple chancery";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
}


a: {
text-decoration: none;
color: black;
}

a:hover {
background-color: #9cc2ff;
text-decoration: none;
color: blue;
}


a:visited{
text-decoration: none;
-webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
}


.text3 {

    font-family: Arial;
    position: absolute;
    top: 405px;
    left: 15px;
    font-size: 27px;
    font-family: "arial";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
 
}


.special-img2 {
    width: 255px;
    height: auto;
    position: absolute;
    top: 15px;
    left: 15px;
     border-color: #8a4a2f;
}


.text5 {
    top: 351px;
    position: absolute;

    left: 17px;
    font-size: 27px;
    font-family: "Consolas";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
 
}

.text6 {

    position: absolute;

      top: 273px;
    left: 15px;
    font-size: 27px;
    font-family: "apple chancery";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
 
}

.text7 {

    position: absolute;
    top: 313px;
    left: 15px;
    font-size: 27px;
    font-family: "arial";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
 
}

#double{
  height: 400px;
}