body{

 color: white;
  


}

.text {
    font-family: Arial;
    position: fixed;
    top: 87px;
    left: 15px;
    font-size: 37px;
    font-family: "apple chancery";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
}


.text1 {
  font-family: Arial;
    position: fixed;
    top: 254px;
    left: 15px;
    font-size: 47px;
    font-family: "times new roman";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
}

a: {
text-decoration: none;
color: black;
}

a:hover {
background-color: #ffc7f4;
text-decoration: none;
color: blue;
}


a:visited{
text-decoration: none;
-webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
}



.text2 {
  font-family: Arial;
   position: fixed;
  top: 717px;
  left: 15px;
  font-size: 12px;
  font-family: "apple chancery";
    -webkit-text-stroke: 0px black;
    -webkit-text-fill-color: black;
}


.text3 {

    font-family: Arial;
    position: fixed;
    top: 305px;
    left: 15px;
    font-size: 27px;
    font-family: "arial";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
 
}

.text4 {

    font-family: apple chancery;
    position: fixed;
    top: 399px;
    left: 15px;
    font-size: 37px;
    font-family: "arial";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
 
}



img {
 /*height: 500px;*/
  max-width: 9000%;
  max-height: 7000%
}


.special-img3 {  
    width: 218px;
    position: fixed;
    top: -27px;
    left: -10px;
  }

.special-img {
  max-width: 60px;
  position: fixed;
  top: 100px;
  left: 600px;
  
}





.special-img2 {
    width: 255px;
    height: auto;
    position: fixed;
    top: 15px;
    left: 15px;
     border-color: #8a4a2f;
}


.text5 {

    position: fixed;
  top: 156px;
    left: 17px;
    font-size: 27px;
    font-family: "Consolas";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
 
}




.text6 {

    position: fixed;
    top: 243px;
    left: 15px;
    font-size: 27px;
    font-family: "apple chancery";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
 
}

.text7 {

    position: fixed;
    top: 201px;
    left: 15px;
    font-size: 27px;
    font-family: "arial";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
 
}







.bff{
       width: 728px;
    position: absolute;
    top: 75px;
    left: 421px;
    
    }

.bff2{
       width: 728px;
    position: absolute;
    top: 75px;
    left:  1173px;
    
    }

.ball{
    width: 626px;
    position: absolute;
    top: 75px;
    left: 1891px;    
    }

.money{
       width: 626px;
    position: absolute;
    top: 75px;
    left: 2616px;
    
    }


.video {

  position: absolute;
    top: 75px;
    left: 3416px;

}


.web1{
       width: 798px;
    position: absolute;
    top: 75px;
    left: 4336px;
    
    }

.web2{
       width: 798px;
    position: absolute;
    top: 75px;
    left: 5338px; 
    }

.web3{
       width: 798px;
    position: absolute;
    top: 75px;
    left: 6342px;
    padding-right: 100px;    
    }

.web4{
      width: 798px;
    position: absolute;
    top: 75px;
    left: 7342px;
     padding-right: 100px;   
    }








