body{

 background-color: white;
  


}



.text {
    font-family: Arial;
    position: fixed;
    top: 87px;
    left: 15px;
    font-size: 37px;
    font-family: "apple chancery";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
}


.text1 {
  font-family: Arial;
    position: fixed;
    top: 254px;
    left: 15px;
    font-size: 47px;
    font-family: "times new roman";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
}

a: {
text-decoration: none;
color: black;
}

a:hover {
background-color: #ffc7f4;
text-decoration: none;
color: blue;
}


a:visited{
text-decoration: none;
-webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
}



.text2 {
  font-family: Arial;
   position: fixed;
  top: 717px;
  left: 15px;
  font-size: 12px;
  font-family: "apple chancery";
    -webkit-text-stroke: 0px black;
    -webkit-text-fill-color: black;
}


.text3 {

    font-family: Arial;
    position: fixed;
    top: 305px;
    left: 15px;
    font-size: 27px;
    font-family: "arial";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
 
}

.text4 {

    font-family: apple chancery;
    position: fixed;
    top: 399px;
    left: 15px;
    font-size: 37px;
    font-family: "arial";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
 
}



img {
 /*height: 500px;*/
  max-width: 9000%;
  max-height: 7000%
}


.special-img3 {  
    width: 218px;
    position: fixed;
    top: -27px;
    left: -10px;
  }

.special-img {
  max-width: 60px;
  position: fixed;
  top: 100px;
  left: 600px;
  
}





.special-img2 {
    width: 255px;
    height: auto;
    position: fixed;
    top: 15px;
    left: 15px;
     border-color: #8a4a2f;
}


.text5 {

    position: fixed;
  top: 156px;
    left: 17px;
    font-size: 27px;
    font-family: "Consolas";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
 
}




.text6 {

    position: fixed;
    top: 243px;
    left: 15px;
    font-size: 27px;
    font-family: "apple chancery";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
 
}

.text7 {

    position: fixed;
    top: 201px;
    left: 15px;
    font-size: 27px;
    font-family: "arial";
    -webkit-text-stroke: 0.7px #8a4a2f;
    -webkit-text-fill-color: #ffa8dc;
 
}


.colorbook {
    width: 800px;
    position: relative;
    top: 67px;
    left: 449px;
}



.colorbook2 {
     width: 800px;
    position: absolute;
    top: 83px;
    left: 1362px;
}

.behave {
    width: 889px;
    position: absolute;
    top: 75px;
    left: 2329px;
    }

.love {
       width: 889px;
    position: absolute;
    top:  75px;
    left: 3340px;
    }


.pmoments {
      width: 532px;
    position: absolute;
    top: 75px;
    left: 4563px;
    }


.anime {
     width: 394px;
    position: relative;
    top: 47px;
    left: 4456px;
}
    


.girlface {
    width: 533px;
    position: absolute;
    top: 75px;
    left: 5888px;

    }

    .babe {
     width: 453px;
    position: absolute;
    top: 75px;
    left: 6632px;
    }

  .kim {
        width: 449px;
    position: absolute;
    top: 77px;
    left: 7080px;
    }

     .bimg {
      width: 399px;
    position: absolute;
    top: 75px;
    left: 7798px;
    }


     .rainbow {
      width: 432px;
    position: absolute;
    top: 75px;
    left: 8230px;
    }

    .flower {
       width: 868px;
    position: absolute;
    top: 75px;
    left: 9011px;
    }

    .always {
      width: 889px;
    position: absolute;
    top: 75px;
    left: 10064px;
    }

    .wedding {
      width: 889px;
    position: absolute;
    top: 75px;
    left: 11151px;
    }
   

   .kimye {
          width: 830px;
    position: absolute;
    top: 75px;
    left: 12229px;

    } 

   .dior {
     width: 889px;
    position: absolute;
    top: 75px;
    left: 13243px;
    } 

   .m1 {
      width: 889px;
    position: absolute;
    top: 75px;
    left: 14332px;
    }  

    .m2 {
        width: 852px;
    position: absolute;
    top: 75px;
    left: 15412px;

    } 

  .m3 {
       width: 885px;
    position: absolute;
    top: 75px;
    left: 16446px;

    } 


  
  .m4 {
 
      width: 881px;
    position: absolute;
    top: 75px;
    left: 17510px;

    } 

  .m5 {
 width: 867px;
    position: absolute;
    top: 75px;
    left: 18572px;

    } 

 .fshirt {
    width: 561px;
    position: absolute;
    top: 33px;
    left: 19590px;
    padding-right: 100px;
    }

     .bshirt {
     width: 561px;
    position: absolute;
    top: 33px;
    left: 20155px;
    padding-right: 100px;
    
    }

      .dollheart {
    width: 893px;
    position: absolute;
    top: 75px;
    left: 20895px;
    padding-right: 291px;
}
    
    







